<router-outlet></router-outlet>
<div class="main-container">
    <div class="title-container">
        <span>Enterprises</span>
        <app-button-component type="primary" label="Create New" (clicked)="onCreateNew()"></app-button-component>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Overview</th>
                    <th>Site</th>
                    <th>Industry</th>
                    <th>Company Size</th>
                    <th>Foudation Year</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th class="action-column"></th>
                </tr>
            </thead>
            <tbody>
                @for(e of enterprises; track e.id) {
                    <tr>
                        <td>{{ e.name }}</td>
                        <td>{{ e.overview }}</td>
                        <td>{{ e.site }}</td>
                        <td>{{ e.industry }}</td>
                        <td>{{ e.companySize }}</td>
                        <td>{{ e.foundationYear }}</td>
                        <td>{{ e.createdAt | date:'dd/MM/yyyy' }}</td>
                        <td>{{ e.updatedAt | date:'dd/MM/yyyy' }}</td>
                        <td class="action-column">
                            <div class="action-buttons-wrapper">
                                <button class="icon-button" (click)="onEdit(e)" role="button" aria-label="Edit">
                                    <span class="material-symbols-rounded primary">edit_square</span>
                                </button>
                                <button class="icon-button" (click)="onDelete(e.id)" role="button" aria-label="Delete">
                                    <span class="material-symbols-rounded danger">delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>