<div class="main-container">
    <div class="form-main-container">
        <div class="form-title-container">
            <span>Skill</span>
        </div>
        <div class="form-container">
            <form [formGroup]="form">
                <div class="input-wrapper">
                    <label for="name">Name</label>
                    <input id="name" type="text" formControlName="name">
                </div>
                <div class="input-wrapper">
                    <label for="category">Category</label>
                    <select id="category" formControlName="skillCategoryId">
                        @for(category of categories; track category.id) {
                            <option [value]="category.id">{{ category.name }}</option>
                        }
                    </select>
                </div>
                <div class="form-buttons-wrapper">
                    <app-button-component type="success" label="Save" (clicked)="onSave()" ></app-button-component>
                    <app-button-component type="error" label="Cancel" (clicked)="onCancel()" ></app-button-component>
                </div>
            </form>
        </div>
    </div>
</div>