
:root {    
  --font-display: 2.25rem;
  --font-h1: 1.75rem;
  --font-h2: 1.5rem;
  --font-h3: 1.25rem;
  --font-subtitle: 1.125rem;
  --font-body: 1rem;
  --font-secondary: 0.875rem;
  --font-caption: 0.75rem;
  --font-button: 0.875rem;

  --space-0: 0rem;     /* 0px */
  --space-1: 0.25rem;  /* 4px */
  --space-2: 0.5rem;   /* 8px */
  --space-3: 0.75rem;  /* 12px */
  --space-4: 1rem;     /* 16px */
  --space-5: 1.5rem;   /* 24px */
  --space-6: 2rem;     /* 32px */
  --space-7: 3rem;     /* 48px */
  
  --gray-50: #fafafa;
  --gray-100: #f5f5f5;
  --gray-200: #eaeaea;
  --gray-300: #dcdcdc;
  --gray-400: #bfbfbf;
  --gray-500: #999999;
  --gray-600: #6C6C6C;
  --gray-650: #585858;
  --gray-700: #444444;

  --bg-color: var(--gray-50);
  --surface: var(--gray-200);
  --border: var(--gray-300);
  --text: var(--gray-650);
  --text-secondary: var(--gray-600);
  --disabled-text: var(--gray-400);

  --color-primary: #3B82F6;
  --color-primary-hover: #2563EB;

  --color-success: #10B981;
  --color-success-hover: #059669;
  --color-success-bg: #D1FAE5;
  --color-success-text: #065F46;

  --color-error: #EF4444;
  --color-error-hover: #DC2626;
  --color-error-bg: #FEE2E2;
  --color-error-text: #991B1B;

  --color-warning: #FBBF24;
  --color-warning-hover: #F59E0B;
  --color-warning-bg: #FEF9C3;
  --color-warning-text: #92400E;

  --color-info: #3B82F6;
  --color-info-hover: #2563EB;
  --color-info-bg: #DBEAFE;
  --color-info-text: #1E3A8A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
}

html, body {
    height: 100%;
}